<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/main.css" />
</head>
<body>
 
  <div id="div1" class="someDiv"></div>
  <div id="div2" class="someDiv"></div>
  <div id="div3" class="someDiv"></div>
  <div id="div4" class="someDiv"></div>
  <div id="div5" class="someDiv"></div>

  <div id="modalDiv"></div>



  <script src="../jquery-3.3.1.js"></script>
  <script src="../index.js"></script>
</body>
</html>
